*.font: xft:DejaVu Sans Mono:size=10


! general
*foreground: #a9b1d6
*background: #1a1b26
*cursorColor: #a9b1d6

! terminal padding color
*borderColor: #1a1b26

! black
*color0: #32344A
*color8: #444B6A

! red
*color1: #F7768E
*color9: #F77A93

! green
*color2: #9ECE6A
*color10: #B9F27C

! yellow
*color3: #E0AF68
*color11: #FF9E64

! blue
*color4: #7AA2F7
*color12: #7DA6FF

! magenta
*color5: #AD8EE6
*color13: #BB9AF7

! cyan
*color6: #449DAB
*color14: #0DB9D7

! white
*color7: #787C99
*color15: #ACB0D0


! URxvt
URxvt*saveline: 15000
URxvt*termName: rxvt-256color
URxvt*iso14755: false
URxvt*depth: 32
URxvt*background: [95]#1C2023
URxvt*scrollBar: false
URxvt*scrollBar_right: false

URxvt*internalBorder: 20
URxvt*externalBorder: 0
URxvt*letterSpace: -1

URxvt.cursorBlink: true
URxvt.cursorUnderline: true
URxvt.geometry: 180x40
URxvt*buffered: false

URxvt.transparent: true
URxvt.shading: 30
URxvt.fading: 30


